.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.home-button-container {
    display: flex;
    justify-content: center;
    gap: 15px;
}