
.pokemon-page {
  display: flex;
  flex-direction: column;
  gap: 15px;
}


.pokemon-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; /* Adjust column size as needed */
  grid-template-rows: 1fr 1fr 1fr;
  gap: 16px;
}


/* loading animation */
.loading-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px; /* Adjust the size as needed */
  }
  
  .loading-spinner {
    border: 4px solid #ccc;
    border-top: 4px solid #3498db; /* Adjust the color as needed */
    border-radius: 50%;
    width: 30px; /* Adjust the size as needed */
    height: 30px; /* Adjust the size as needed */
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }